.App {
	height: 100vh;
	position: relative;
	display: flex;
	justify-content: center;
	gap: 1em;
}

.point {
	position: absolute;
	height: 50px;
	width: 50px;
	background-color: #ffffff;
	border-radius: 100%;
}

.button {
	padding: 0px 40px;
	background-color: #202020;
	border: none;
	height: 5vh;
	border-radius: 5%;
	z-index: 100;
}
.button:hover {
	background-color: #101010;
}
